.pht {
  margin-bottom: 20px;
  border-bottom: 1px solid #028DEA;
}

.cpt-fillout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
}

ul {
  display: flex;
  width: 90%;
  height: 40%;
  margin: 0 auto;
}

.inputBox {
  padding: 0;
  margin-top: 2.5px;
  height: 90%;
  width: 90%;
  text-align: justify;
  margin-bottom: 5px;
}

.btn {
  margin-bottom: 20px;
  width: 300px;
  font-size: 20px;
  border: none;
  border-radius: 3px;
  background-color: #003352;
  color: #028DEA;
  text-shadow: .5px .5px 1px white;
  transition: .5s ease-in-out;
}

.btn:hover {
  background-color: #003330;
}

.btn:active{
  background-color: white;
}
