body {
  margin: 10px;
  padding: 0;
  font-family: sans-serif;
}

li {
  list-style-type: none;
}

/*a {
  text-decoration: none;
  color: #028DEA;
}

.nav {
  display: flex;
  justify-content: center;
}

.active {
  font-weight: bold;
}

#028DEA

*/
